<% provide(:title, @course.name) %>
<h1>
  <%= @course.name %> </br>
</h1>
<h2>
  <%= @course.instruction %> </br>
</h2>

Subjects
<h2>
<% @course.course_subjects.each do |course_subject| %>
<%= course_subject.subject.name %></br>
<% end %>
</h2>
