<% provide(:title, t(:all_subject))%>
<%= link_to t(:creat_subject), new_supervisor_subject_path, class: "btn btn-lg btn-primary" %>
<div id="filterrific_results">
  <ul class="subject">
    <%= will_paginate %>
    <%= render @subjects%>
    <%= will_paginate %>
  </ul>
</div>
