<% provide(:title, @course.name) %>
<h1><%= @course.name %> </br></h1>
<h2>
  <%= @course.instruction %> </br>
</h2>
<h1>On going Subjects</h1>
  <span>
      <% @course.course_subjects.each do |course_subject| %>
      <%= course_subject.subject.name %>
      <%= link_to (t :View), subject_path(course_subject.subject.id) %></br>
      <% end %>
  </span>
</div>

